(defnode main)
(defchain sprite_test
  "sprite.edn"
  (LoadImage "data/skeleton.png") = .image
  (Sprite.Sheet
   :Image .image
   :Atlas (read-string (slurp "data/skeleton.edn"))))

(schedule main sprite_test)
(run main)